*{
    margin:0;
    padding:0;
}
header{
    background-color: #353535;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 105px;
}

h1{
    padding-top: 20px;
    padding-left: 22px;
    letter-spacing: 2px;
    font-size:35px;
}
h1 span:first-child {
    color: #00fff0;
}
h1 span:last-child {
    color: #ffffff;
}
p{
    padding-left: 22px;
}
p span:last-child {
    color: #2447f1;
}
header a{
    text-decoration: none;
    font-size:20px;
    letter-spacing: 2px;
    color: #ffffff;
    img{width:20px;height:20px}
}
header form{
    display: flex;
    align-items: center;
    position: absolute;
    top: 65px;
    right:600px;

}
img{width:25px;height:25px; margin-right:5px;}
.image-button{
    width: 25px;
    height: 25px;
    background-color: #00fff0;
    border: none;
}
header input{
    height:24px;
    width: 300px;
    font-size: 16px;
}
nav{
    padding-top: 9px;
    padding-left:5px;

}
nav a {
   text-decoration: none;
    padding: 15px 20px;
    font-size: 20px;
    color: #ffffff;
}
a:hover{
    color: #00fff0;
}

h2{
    margin-top: 25px;
    margin-left: 20px;
    font-size: 30px;
}
main form{
    margin-top: 22px;
    margin-left: 25px;
}
main form input{
    height:30px;
    width: 350px;
    font-size: 17px;
}
main form button{
    height: 35px;
    width: 120px;
    font-size: 17px;
    background: #393939;
    color: #fff;
}
main form button:hover{
    background: #0fefe1;
    border: 1px solid #0fefe1;
}

#img4{right: 155px; top: 25px; }
#img5{top: 1px; right: 155px;}

#p3, #p4{
    color: white;
    font-size: 21px;

}
#p4{
    position: absolute;
    left: 500px;
    margin-top:40px;
}
#p3{
    position: absolute;
    left: 500px;
    padding-top: 5px;
}
footer a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.container {
    margin-top: 25px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    height: 300px;
    -webkit-overflow-scrolling: touch; /* для плавной прокрутки на мобильных устройствах */
}
.slide {
    flex: none;
    scroll-snap-align: start;
    width: 300px;
    text-align: center;
    padding: 30px;
}
.slide a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.slide img{
    width: 250px;
    height: 200px;
}
footer{
    position: sticky;
    background-color: #353535;
    height: 190px;
    z-index: 9999;

}
footer h1{
    color: #00fff0;

}
footer img{
    position: absolute;
    width: 35px;
    height: 35px;
}
#img1{

    margin-top: 20px;
    left: 15px;
}
#img2{
    margin-top: 20px;
    left: 100px;
}
#img3{
    margin-top: 20px;
    left: 200px;
}
#information{
    position: absolute;
    left: 500px;
}
#contacts{
    position: absolute;
    right: 190px;
}

#p1{
    position: absolute;
    color: white;
    margin-top: 12px;
    right: 180px;
    font-size: 21px;
    padding-top: 5px;

}
#p2{
    position: absolute;
    color: white;
    margin-top: 40px;
    right: 180px;
    font-size: 21px;
    padding-top: 35px;
}

@media (max-width: 990px) {

    header{
        height: 60px;
        a{
            font-size:15px;
            letter-spacing: 1px;
            img{padding: 3px;
                width:15px;height:15px}
        }
    }
    #delivery{
        left:42%;
        margin-top: 0
    }
    #pay{
        left:55%;
        margin-top: 0
    }
    #inpreg{
        left:80%;
        margin-top: -15px;
        font-size: 15px;
    }
    #bask{
        left: 65%;
        margin-top: -50px;
        font-size: 15px;
    }
    nav{
        margin-top: -30px;
        margin-left: 26%;

    }
    nav a {
        text-decoration: none;
        padding: 15px 20px;
        font-size: 15px;
        color: #ffffff;
    }
    h1{
        padding-top: 25px;
        margin-left: 15px;
        letter-spacing: 2px;
        font-size:15px;
    }

    footer{

        height: 100px;
        width: 100%;
    }
    footer h1{
        color: #00fff0;

    }
    footer img{
        position: absolute;
        width: 15px;
        height: 15px;
    }
    #information{
        top:-10px;
        left:40%
    }
    #contacts{
        top:-10px;
    }

    #img1{
        width: 20px;
        height: 20px;
        margin-top: 20px;
        left: 35px;
    }
    #img2{
        width: 20px;
        height: 20px;
        margin-top: 20px;
        left: 85px;
    }

    #img3{
        width: 20px;
        height: 20px;
        margin-top: 20px;
        left: 140px;
    }
    #p1{
        font-size: 15px;
        top: 25px;
        right: 150px;
        #img5{
            position: absolute;
            width: 20px;
            height: 20px;
            top: 5px;
            right: 110px;
        }
    }
    #p2{
        font-size: 15px;
        top: 0;
        right: 150px;
        #img5{
            position: absolute;
            width: 20px;
            height: 20px;
            top: 10px;
            right: -100px;
        }
    }

    #p4{
        bottom: 20px;
        left: 37%;
    }
    #p4, #p4 .nav-item{
        font-size: 15px;
        letter-spacing: 2px;
        padding-top: 35px;
    }
}

@media (min-width: 1880px) {
    header{
        height: 150px;
        a{
            font-size:35px;
            letter-spacing: 2.5px;
            img{padding: 5px;
                width:35px;height:30px}
        }
    }
    #delivery{
        left:42%;
        margin-top: 50px
    }
    #pay{
        left:55%;
        margin-top: 50px
    }
    #inpreg{
        left:80%;
        margin-top: 0;
        font-size: 35px;
    }
    #bask{
        left:65%;
        margin-top: 0;
        font-size: 35px;
    }
    nav{
        margin-top: -45px;
        margin-left: 30%;

    }
    nav a {
        text-decoration: none;
        padding: 15px 20px;
        font-size: 35px;
        color: #ffffff;
    }
    h1{
        padding-top: 55px;
        margin-left: 25px;
        letter-spacing: 3px;
        font-size:45px;
    }

    footer{

        height: 200px;
        width: 100%;


    }
    footer h1{
        color: #00fff0;

    }
    footer img{
        position: absolute;
        width: 35px;
        height: 35px;
    }
    #information{
        top:-40px;
        left:40%
    }
    #contacts{
        top:-40px;
    }

    #img1{
        width: 40px;
        height: 40px;
        margin-top: 20px;
        left: 35px;
    }
    #img2{
        width: 40px;
        height: 40px;
        margin-top: 20px;
        left: 135px;
    }

    #img3{
        width: 40px;
        height: 40px;
        margin-top: 20px;
        left: 250px;
    }
    #p1{
        font-size: 35px;
        top: 55px;
        #img5{
            position: absolute;
            width: 40px;
            height: 40px;
            top: 0;
            right: 280px;
        }
    }
    #p2{
        font-size: 35px;
        top: 55px;
        #img4{
            position: absolute;
            width: 45px;
            height: 45px;
            top: 25px;
            right: 280px;
        }
    }

    #p4{
        bottom: 50px;
        left: 41%;
    }
    #p4, #p4 .nav-item{

        font-size: 35px;
        letter-spacing: 2px;
        padding-top: 35px;
    }
}